{% extends "base.html" %}

{% block announce %}
Eclipse Kura™ 5.2.0 is available! Check out the new release at: <a href="https://www.eclipse.org/kura/downloads.php">Eclipse Kura Downloads</a>.
{% endblock %}

{% block outdated %}
You are viewing the documentation relative to the develop branch or to an outdated version. This means the features might be different than the ones of the latest stable release, or not yet published.
<a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest stable release.</strong>
</a>
{% endblock %}