# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# force LF-only line endings
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf

*.c text eol=lf
*.h text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.catalog binary
