site_name: Eclipse Kura™ Documentation

nav:
    - Introduction:
      - Raspberry Pi - Raspbian Quick Start: intro/raspberry-pi-raspbian-quick-start.md
      - Raspberry Pi - Ubuntu 20 Quick Start: intro/raspberry-pi-ubuntu-20-quick-start.md
      - Docker Quick Start: intro/docker-quick-start.md
      - Intel Up² Quick Start: intro/intel-up-2-quick-start.md
      - NVIDIA Jetson Nano&trade; - Quick Start: intro/nvidia-jetson-nano-quick-start.md
    - Configuration:
      - Gateway Administration Console: config/console.md
      - Device Information: config/device-information.md
      - Gateway Status: config/gateway-status.md
      - Network Configuration: config/network-configuration.md
      - Ethernet Configuration: config/ethernet-configuration.md
      - Wi-Fi Configuration: config/wi-fi-configuration.md
      - Firewall Configuration: config/firewall-configuration.md
      - Cloud Connections: config/cloud-services.md
      - Cloud Service Configuration: config/cloud-service-configuration.md
      - Data Service Configuration: config/data-service-configuration.md
      - Connection Monitors in DataService: config/connection-monitors.md
      - Message Publishing Backoff Delay: config/message-publishing-backoff-delay.md
      - MqttData Transport Service Configuration: config/mqttdata-transport-service-configuration.md
      - SSL Configuration: config/ssl-configuration.md
      - Gateway Administration Console Authentication: config/auth.md
      - Network Threat Manager: config/threat-manager.md
    - Built-in services:
      - Introduction: builtin/intro.md
      - Simple Artemis MQTT Broker Service: builtin/simple-artemis-mqtt-broker-service.md
      - ActiveMQ Artemis Broker Service: builtin/activemq-artemis-broker-service.md
      - Clock Service: builtin/clock-service.md
      - Deployment Service: builtin/deployment-service.md
      - Cloudcat: builtin/cloudcat.md
      - Command Service: builtin/command-service.md
      - H2 Database - Features and Usage: builtin/h2-database.md
      - H2 database - Connecting external applications: builtin/h2-database-external-connections.md
      - Position Service: builtin/position-service.md
      - REST Service: builtin/rest-service.md
      - Watchdog Service: builtin/watchdog-service.md
      - Nvidia™ Triton Server inference engine: builtin/nvidiatm-triton-server-inference-engine.md
      - Container Orchestration Provider: builtin/container-orchestration-provider.md
    - Administration:
      - Directory Layout: admin/directory-layout.md
      - Snapshots Management: admin/snapshot-management.md
      - Application Management: admin/application-management.md
      - Remote Management with Everyware Cloud: admin/remote-management-with-ec.md
      - Remote Management with Eclipse Kapua: admin/remote-management-with-kapua.md
      - Keystores Management: admin/keystore-management.md
      - Keys and Certificates: admin/keys-and-certificates.md
    - Cloud Connection API and usage:
      - Overview: cloud-api/overview.md
      - User guide: cloud-api/user-guide.md
      - Application developer guide: cloud-api/app-dev-guide.md
      - Cloud connection developer guide: cloud-api/stack-dev-guide.md
      - Built-in Cloud Services: cloud-api/stack-components.md

theme:
  name: material
  logo: assets/kura_logo_small.png
  favicon: assets/favicon.png
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs # enable the navigation tabs in the header
    - navigation.tabs.sticky # navigation tabs will lock below the header and always remain visible when scrolling down
    - navigation.top # enable the back-to-top button
    - announce.dismiss # enable custom announcements, they will dismiss by scrolling down

  icon:
    repo: fontawesome/brands/github # Alternate icon for repo link

# Repo link
repo_name: eclipse/kura
repo_url: https://github.com/eclipse/kura
edit_uri: "" # Remove edit button

plugins:
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  version:
    provider: mike
