site_name: Eclipse Kura™ Documentation

nav:
    - Getting Started:
      - Raspberry Pi - Raspberry Pi OS Quick Start: getting-started/raspberry-pi-raspberryos-quick-start.md
      - Raspberry Pi - Ubuntu 20 Quick Start: getting-started/raspberry-pi-ubuntu-20-quick-start.md
      - Docker Quick Start: getting-started/docker-quick-start.md
      - Intel Up² Quick Start: getting-started/intel-up-2-quick-start.md
      - NVIDIA Jetson Nano&trade; - Quick Start: getting-started/nvidia-jetson-nano-quick-start.md
    - Gateway Configuration:
      - Gateway Administration Console: gateway-configuration/gateway-administration-console.md
      - Gateway Status: gateway-configuration/gateway-status.md
      - Device Information: gateway-configuration/device-information.md
      - Network Configuration:
        - Network Configuration: gateway-configuration/network-configuration.md
        - Ethernet Configuration: gateway-configuration/ethernet-configuration.md
        - Wi-Fi Configuration: gateway-configuration/wifi-configuration.md
        - Cellular Configuration: gateway-configuration/cellular-configuration.md
      - Firewall Configuration: gateway-configuration/firewall-configuration.md
      - Cloud Connections:
        - Cloud Connections: gateway-configuration/cloud-connections.md
        - Cloud Service Configuration: gateway-configuration/cloud-service-configuration.md
        - Data Service Configuration: gateway-configuration/data-service-configuration.md
        - Data Transport Service Configuration: gateway-configuration/data-transport-service-configuration.md
      - Keystores Management: gateway-configuration/keystores-management.md
      - Keys and Certificates: gateway-configuration/keys-and-certificates.md
      - SSL Configuration: gateway-configuration/ssl-configuration.md
      - Web Console Configuration: gateway-configuration/web-console-configuration.md
      - Gateway Administration Console Authentication: gateway-configuration/gateway-administration-console-authentication.md
    - Cloud Connection API and Usage:
      - Overview: cloud-api/overview.md
      - User Guide: cloud-api/user-guide.md
      - Application Developer Guide: cloud-api/app-dev-guide.md
      - Cloud Connection Developer Guide: cloud-api/cloud-conn-dev-guide.md
      - Built-in Cloud Services: cloud-api/built-in-cloud.md

theme:
  name: material
  logo: assets/kura_logo_small.png
  favicon: assets/favicon.png
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs # enable the navigation tabs in the header
    - navigation.tabs.sticky # navigation tabs will lock below the header and always remain visible when scrolling down
    - navigation.top # enable the back-to-top button
    - announce.dismiss # enable custom announcements, they will dismiss by scrolling down

  icon:
    repo: fontawesome/brands/github # Alternate icon for repo link

# Repo link
repo_name: eclipse/kura
repo_url: https://github.com/eclipse/kura
edit_uri: "" # Remove edit button

plugins:
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eclipse/kura
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/eclipse/kura
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/eclipse/kura
