site_name: Eclipse Kura™ Documentation

nav:
    - Getting Started:
      - Install Kura: getting-started/install-kura.md
      - Raspberry Pi - Raspberry Pi OS Quick Start: getting-started/raspberry-pi-raspberryos-quick-start.md
      - Raspberry Pi - Ubuntu 20 Quick Start: getting-started/raspberry-pi-ubuntu-20-quick-start.md
      - Docker Quick Start: getting-started/docker-quick-start.md
      - Intel Up² Quick Start: getting-started/intel-up-2-quick-start.md
      - NVIDIA Jetson Nano&trade; - Quick Start: getting-started/nvidia-jetson-nano-quick-start.md
    - Gateway Configuration:
      - Gateway Administration Console: gateway-configuration/gateway-administration-console.md
      - Gateway Status: gateway-configuration/gateway-status.md
      - Device Information: gateway-configuration/device-information.md
      - Network Configuration:
        - Network Configuration: gateway-configuration/network-configuration.md
        - Network Failover: gateway-configuration/network-failover.md
        - Ethernet Configuration: gateway-configuration/ethernet-configuration.md
        - Wi-Fi Configuration: gateway-configuration/wifi-configuration.md
        - Wi-Fi 802.1x Configuration: gateway-configuration/wifi-configuration-8021x.md
        - Cellular Configuration: gateway-configuration/cellular-configuration.md
        - VLAN Configuration: gateway-configuration/vlan-configuration.md
        - Advanced Settings: gateway-configuration/network-advanced.md
        - Hardware Tab: gateway-configuration/network-hardware.md
      - Firewall Configuration: gateway-configuration/firewall-configuration.md
      - Network Threat Manager: gateway-configuration/network-threat-manager.md
      - Cloud Connections:
        - Cloud Connections: gateway-configuration/cloud-connections.md
        - Cloud Service Configuration: gateway-configuration/cloud-service-configuration.md
        - Data Service Configuration: gateway-configuration/data-service-configuration.md
        - Data Transport Service Configuration: gateway-configuration/data-transport-service-configuration.md
      - Keystores Management: gateway-configuration/keystores-management.md
      - Keys and Certificates: gateway-configuration/keys-and-certificates.md
      - SSL Configuration: gateway-configuration/ssl-configuration.md
      - Web Console Configuration: gateway-configuration/web-console-configuration.md
      - Gateway Administration Console Authentication: gateway-configuration/gateway-administration-console-authentication.md
      - Authentication and Authorization: gateway-configuration/authentication-and-authorization.md
    - Administration:
      - Directory Layout: administration/directory-layout.md
      - Snapshot Management: administration/snapshot-management.md
      - Application Management: administration/application-management.md
      - Remote Management with Eclipse Kapua: administration/remote-management-kapua.md
      - System Component Inventory: administration/system-component-inventory.md
    - Core Services:
      - Introduction: core-services/introduction.md
      - Clock Service: core-services/clock-service.md
      - Deployment Service: core-services/deployment-service.md
      - Command Service: core-services/command-service.md
      - Configuration Service: core-services/configuration-service.md
      - H2Db Service: core-services/h2db-service.md
      - SQLite DB Service: core-services/sqlite-db-service.md
      - Position Service: core-services/position-service.md
      - REST Service: core-services/rest-service.md
      - Watchdog Service: core-services/watchdog-service.md
      - Simple Artemis MQTT Broker: core-services/simple-artemis-mqtt-broker.md
      - ActiveMQ Artemis MQTT Broker: core-services/active-mq-artemis-broker.md
      - Container Orchestration:
        - Container Orchestration Provider: core-services/container-orchestration-provider.md
        - Container Orchestration Provider APIs: core-services/container-orchestration-provider-apis.md
        - Container Orchestration Provider Usage: core-services/container-orchestration-provider-usage.md
        - Container Orchestration Provider Authenticated Registries: core-services/container-orchestration-provider-authenticated-registries.md
        - Container Image Authenticity and Allowlist Enforcement: core-services/container-orchestration-image-auth.md
      - Nvidia™ Triton Server Inference Engine: core-services/nvidia-triton-server-inference-engine.md
      - Device Configuration Changes: core-services/device-configuration-changes.md
      - Network Status Service V1 REST APIs and MQTT Request Handler: core-services/network-status-rest-v1.md
    - Cloud Connection API and Usage:
      - Overview: cloud-api/overview.md
      - User Guide: cloud-api/user-guide.md
      - Application Developer Guide: cloud-api/app-dev-guide.md
      - Cloud Connection Developer Guide: cloud-api/cloud-conn-dev-guide.md
      - Built-in Cloud Services: cloud-api/built-in-cloud.md
    - Cloud Platforms Connection:
      - Eurotech Everyware Cloud&trade; platform: cloud-platform/kura-ec-cloud.md
      - Amazon AWS IoT&trade; platform: cloud-platform/kura-aws-cloud.md
      - Azure IoT Hub&trade; platform: cloud-platform/kura-azure.md
      - Eclipse Kapua&trade; platform: cloud-platform/kura-kapua.md
      - Eclipse Hono&trade; platform: cloud-platform/kura-hono.md
      - Apache Camel&trade; Integration:
        - Apache Camel&trade; integration: cloud-platform/apache-camel-integration/kura-camel.md
        - Apache Camel&trade; as application: cloud-platform/apache-camel-integration/kura-camel-app.md
        - Apache Camel&trade; Cloud Service: cloud-platform/apache-camel-integration/kura-camel-cloud.md
      - Eclipse Sparkplug&reg; Cloud Connector: cloud-platform/kura-sparkplug.md
    - Connect Field Devices:
      - Drivers, Assets and Channels: connect-field-devices/driver-and-assets.md
      - Asset implementation: connect-field-devices/asset-implemetation.md
      - Driver implementation: connect-field-devices/driver-implemetation.md
      - I/O APIs: connect-field-devices/IO-apis.md
      - Field Protocols: connect-field-devices/field-protocols.md
      - Drivers:
        - OPC UA Driver: connect-field-devices/opcua-driver.md
        - S7comm Driver: connect-field-devices/s7-driver.md
        - GPIO Driver: connect-field-devices/gpio-driver.md
        - TI SensorTag Driver: connect-field-devices/sensortag-driver.md
        - RaspberryPi SenseHat driver: connect-field-devices/sensehat-driver.md
        - iBeacon&trade; Driver: connect-field-devices/ibeacon-driver.md
        - Eddystone&trade; Driver: connect-field-devices/eddystone-driver.md
        - Xdk Driver: connect-field-devices/xdk-driver.md
      - ASSET-V1 MQTT Namespace: connect-field-devices/asset-v1-mqtt-namespace.md
    - Kura Wires:
      - Introduction: kura-wires/introduction.md
      - Assets as Wire Components: kura-wires/assets-as-wire-components.md
      - Single Port Wire Components:
        - Wire Record Store and Query: kura-wires/single-port-wire-components/db-store-and-filter.md
        - FIFO Component: kura-wires/single-port-wire-components/fifo-component.md
        - AI Wire Component: kura-wires/single-port-wire-components/ai-wire-component.md
      - Multiport Wire Components:
        - Multiport Wire Components: kura-wires/multiport-wire-components/multiport-wire-components.md
        - Join Component: kura-wires/multiport-wire-components/join-component.md
        - Mathematical Components Example: kura-wires/multiport-wire-components/mathematical-components-example.md
      - Script Components:
        - Introduction: kura-wires/script-components/introduction.md
        - Nashorn Script Filter: kura-wires/script-components/nashorn-script-filter.md
        - Nashorn Conditional Component: kura-wires/script-components/nashorn-conditional-component.md
        - GraalVM&trade; Filter Component: kura-wires/script-components/graalvm-filter-component.md
        - GraalVM&trade; Conditional Component: kura-wires/script-components/graalvm-conditional-component.md
      - Usage Examples:
        - OPC-UA Application: kura-wires/usage-examples/opcua-application.md
        - TI SensorTag Application: kura-wires/usage-examples/ti-sensortag-application.md
        - GPIO Driver Application: kura-wires/usage-examples/gpio-driver-application.md
        - iBeacon&trade; Driver Application: kura-wires/usage-examples/ibeacon-driver-application.md
        - Eddystone&trade; Driver Application with RuuviTag+: kura-wires/usage-examples/eddystone-driver-application.md
      - Wires MQTT Namespace: kura-wires/wires-mqtt-namespace.md
      - WireGraphService Configuration Format: kura-wires/wire-graph-service-configuration-format.md
      - Wire Service V1 REST APIs and MQTT Request Handler: kura-wires/wire-service-rest-v1.md
      - References: kura-wires/wire-service-references.md
    - Java Application Development:
      - Kura Development Environment Setup: java-application-development/development-environment-setup.md
      - Add-ons Development Environment Setup: java-application-development/kura-workspace-setup.md
      - Hello World Application: java-application-development/hello-world-application.md
      - Deploy and Debug Applications: java-application-development/deploy-and-debug-applications.md
      - Remote Debugging on Target Platform: java-application-development/remote-debugging-on-target-platform.md
      - Configurable Application: java-application-development/configurable-application.md
      - Connected Application: java-application-development/connected-application.md
      - How-tos:
        - How to Use Serial Ports: java-application-development/how-to-serial-ports.md
        - How to Use GPIO: java-application-development/how-to-use-gpio.md
        - How to Use Modbus: java-application-development/how-to-use-modbus.md
        - How to Use CAN bus: java-application-development/how-to-use-can-bus.md
        - How to Use Watchdog: java-application-development/how-to-use-watchdog.md
        - How to Manage Network Settings: java-application-development/how-to-manage-network-settings.md
        - How to Use Legacy Bluetooth LE: java-application-development/how-to-use-legacy-bt-le.md
        - How to Use Legacy Bluetooth LE Beacons: java-application-development/how-to-use-legacy-bt-le-beacons.md
        - How to Use Legacy Bluetooth LE Beacon Scanner: java-application-development/how-to-use-legacy-bt-beacon-scanner.md
        - How to Use New Bluetooth LE APIs: java-application-development/how-to-use-new-bt-le-apis.md
        - How to Use New Beacon APIs: java-application-development/how-to-use-new-beacon-apis.md
        - How to Use Dummy Container Signature Validation Service: java-application-development/how-to-use-dummy-signature-service.md
      - RAM Usage Considerations: java-application-development/ram-usage-considerations.md
      - Contributing: java-application-development/contributing.md
    - Quality Assurance:
      - Introduction: quality-assurance/intro.md
      - Unit Testing: quality-assurance/unit-testing.md
      - System Testing: quality-assurance/system-testing.md
    - References:
      - MQTT Namespace: references/mqtt-namespace.md
      - Javadoc: references/javadoc.md
      - REST-APIs:
        - Configuration V1: references/rest-apis/rest-configuration-service-v1.md
        - Configuration V2: references/rest-apis/rest-configuration-service-v2.md
        - Cloud Connection: references/rest-apis/rest-cloudconnection-api.md
        - Command: references/rest-apis/rest-command-api.md
        - Deploy: references/rest-apis/rest-deploy-api.md
        - Identity: references/rest-apis/rest-identity-api.md
        - Inventory: references/rest-apis/rest-inventory-api.md
        - Network Configuration: references/rest-apis/rest-network-configuration-api.md
        - Position: references/rest-apis/rest-position-api.md
        - Security: references/rest-apis/rest-security-api.md
        - Service Listing: references/rest-apis/rest-service-listing-api.md
        - Session: references/rest-apis/rest-session-api.md
        - System: references/rest-apis/rest-system-api.md
    - Tutorials:
      - Anomaly Detection: tutorials/AD-EdgeAI.ipynb

theme:
  name: material
  logo: assets/kura_logo_small.png
  favicon: assets/favicon.png
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top # enable the back-to-top button
    - announce.dismiss # enable custom announcements, they will dismiss by scrolling down

  icon:
    repo: fontawesome/brands/github # Alternate icon for repo link

# Repo link
repo_name: eclipse/kura
repo_url: https://github.com/eclipse/kura
edit_uri: "" # Remove edit button

plugins:
  - search
  - mkdocs-jupyter

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eclipse/kura
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/eclipse/kura
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/eclipse/kura
