<?xml version="1.0" encoding="UTF-8"?>
<!--

   Copyright (c) 2011, 2024 Eurotech and/or its affiliates and others

   This program and the accompanying materials are made
   available under the terms of the Eclipse Public License 2.0
   which is available at https://www.eclipse.org/legal/epl-2.0/
 
	SPDX-License-Identifier: EPL-2.0
	
	Contributors:
	 Eurotech
      Red Hat Inc

-->
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" activate="activate" configuration-policy="optional" deactivate="deactivate" immediate="true" modified="updated" name="org.eclipse.kura.web.Console">
   <implementation class="org.eclipse.kura.web.Console"/>
   
   <reference bind="setHttpService" interface="org.osgi.service.http.HttpService" name="HttpService"/>   
   <reference bind="setSystemService" interface="org.eclipse.kura.system.SystemService" name="SystemService"/>   
   <reference bind="setCryptoService" interface="org.eclipse.kura.crypto.CryptoService" name="CryptoService"/>
   <reference bind="setEventAdminService" interface="org.osgi.service.event.EventAdmin" name="EventAdmin"/>
   <reference bind="setSslManagerService" interface="org.eclipse.kura.ssl.SslManagerService" name="SslManagerService" 
              policy="dynamic" cardinality="0..1" unbind="unsetSslManagerService" />
   
   <property name="service.pid" type="String" value="org.eclipse.kura.web.Console"/>
   <property name="kura.service.pid" type="String" value="org.eclipse.kura.web.Console"/>
   <property name="kura.ui.service.hide" type="Boolean" value="true"/>
   <service>
      <provide interface="org.eclipse.kura.web.api.Console"/>
      <provide interface="org.eclipse.kura.configuration.SelfConfiguringComponent"/>
   </service>
   <reference bind="setIdentityService" cardinality="1..1" interface="org.eclipse.kura.identity.IdentityService" name="IdentityService" policy="static"/>
</scr:component>
