Package: kura
Version: [[project.version]]
Section: misc
Priority: low
Depends: dos2unix, unzip, 
 telnet, bluez-hcidump, 
 bluez, chrony, ntpdate, 
 openjdk-17-jre-headless | temurin-17-jdk | openjdk-8-jre-headless | temurin-8-jdk,
 cron
Architecture: amd64
Maintainer: support@eurotech.com
Description: Open-source IoT edge framework based on Java/OSGi.
