<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011, 2014 Eurotech and/or its affiliates

     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Eurotech

-->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <listener>
    <listener-class>
       org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>deviceServlet</servlet-name>
    <servlet-class>org.eclipse.kura.web.server.GwtDeviceServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>deviceServlet</servlet-name>
    <url-pattern>/denali/device</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>denali.html</welcome-file>
  </welcome-file-list>

</web-app>
