#
# Copyright (c) 2023 Eurotech and/or its affiliates and others
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#  Eurotech
#
Package: kura
Version: [[project.version]]
Section: misc
Priority: low
Depends: openjdk-17-jre-headless | temurin-17-jdk | openjdk-8-jre-headless | temurin-8-jdk,
 setserial, zip, gzip, unzip, procps, usbutils, socat, gawk, sed, inetutils-telnet,
 polkit | policykit-1, ssh | openssh, openssl, busybox, openvpn,
 bluez | bluez5, bluez-hcidump | bluez5-noinst-tools,
 ntpdate, chrony, chronyc | chrony, cron | cronie,
 network-manager | networkmanager, bind9 | bind, dnsmasq | isc-dhcp-server | dhcp-server, dnsmasq | isc-dhcp-server | dhcp-client, iw, iptables, modemmanager,
 logrotate,
 gpsd
Recommends: python3
Architecture: all
Maintainer: support@eurotech.com
Description: Kura is an inclusive software framework that puts a layer
  between the operating system and the customer application, with industry
  standard interfaces that shorten custom development time, simplified coding
  and software that can be easily ported from one hardware platform
  to another.
