
module selinuxKura 1.0;

require {
	type NetworkManager_t;
	type initrc_tmp_t;
	class file open;
	class sock_file write;
}

#============= NetworkManager_t ==============
allow NetworkManager_t initrc_tmp_t:file open;
allow NetworkManager_t initrc_tmp_t:sock_file write;

